* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f2f2f2;
}

@font-face {
  font-family: Big Shoulders Display;
  src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
}

@font-face {
  font-family: Lexend Deca;
  src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
  font-weight: 400;
}

main {
  width: 50%;
  margin: auto;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  height: 100vh;
  flex-direction: row;
}

.left-content {
  background-color: hsl(31, 77%, 52%);
  padding: 2em;
  border-radius: 10px;
}

.middle-content {
  background-color: hsl(184, 100%, 22%);
  padding: 2em;
  border-radius: 10px;
}

.right-content {
  background-color: hsl(179, 100%, 13%);
  padding: 2em;
  border-radius: 10px;
}

.left-content h2,
.middle-content h2,
.right-content h2 {
  padding-bottom: 30px;
  font-size: 30px;
  color: #f2f2f2;
}

.left-content p,
.middle-content p,
.right-content p {
  padding-bottom: 30px;
  font-size: 15px;
  color: #f2f2f2;
}

img {
  padding-bottom: 25px;
}

.button-left {
  padding: 10px;
  border-radius: 20px;
  color: #e38826;
  font-weight: bold;
}

.button-middle {
  padding: 10px;
  border-radius: 20px;
  color: #006970;
  font-weight: bold;
}

.button-right {
  padding: 10px;
  border-radius: 20px;
  color: #004241;
  font-weight: bold;
}

.link {
  display: flex;
}
